<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rehand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rehand.StartUpPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.rehand.GettingStartedPage"
            android:label="@string/title_activity_getting_started_page" >
        </activity>
        <activity
            android:name="com.example.rehand.HomePage"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rehand.ExerciseListPage"
            android:label="@string/title_activity_exercise_list_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ProgressPage"
            android:label="@string/title_activity_progress_page" >
        </activity>
        <activity
            android:name="com.example.rehand.DetailsPage"
            android:label="@string/title_activity_details_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ArmRotationPage"
            android:label="@string/title_activity_arm_rotation_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ArmRotationExercise"
            android:label="@string/title_activity_arm_rotation_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.ArmRotationTutorialPage"
            android:label="@string/title_activity_arm_rotation_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.ArmRotationResult"
            android:label="@string/title_activity_arm_rotation_result" >
        </activity>
        <activity
            android:name="com.example.rehand.ElbowExtensionPage"
            android:label="@string/title_activity_elbow_extension_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ElbowExtensionExercise"
            android:label="@string/title_activity_elbow_extension_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.ElbowExtensionTutorialPage"
            android:label="@string/title_activity_elbow_extension_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.ElbowExtensionResult"
            android:label="@string/title_activity_elbow_extension_result" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerGripPage"
            android:label="@string/title_activity_finger_grip_page" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerGripExercise"
            android:label="@string/title_activity_finger_grip_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerGripTutorialPage"
            android:label="@string/title_activity_finger_grip_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerGripResult"
            android:label="@string/title_activity_finger_grip_result" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerLiftPage"
            android:label="@string/title_activity_finger_lift_page" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerLiftExercise"
            android:label="@string/title_activity_finger_lift_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerLiftTutorialPage"
            android:label="@string/title_activity_finger_lift_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerLiftResult"
            android:label="@string/title_activity_finger_lift_result" >
        </activity>
        <activity
            android:name="com.example.rehand.RadialDeviationPage"
            android:label="@string/title_activity_radial_deviation_page" >
        </activity>
        <activity
            android:name="com.example.rehand.RadialDeviationExercise"
            android:label="@string/title_activity_radial_deviation_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.RadialDeviationTutorialPage"
            android:label="@string/title_activity_radial_deviation_tutorial_page" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.RadialDeviationResult"
            android:label="@string/title_activity_radial_deviation_result" >
        </activity>
        <activity
            android:name="com.example.rehand.ThumbStretchPage"
            android:label="@string/title_activity_thumb_stretch_page" 
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.ThumbStretchExercise"
            android:label="@string/title_activity_thumb_stretch_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.ThumbStretchTutorialPage"
            android:label="@string/title_activity_thumb_stretch_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.ThumbStretchResult"
            android:label="@string/title_activity_thumb_stretch_result" >
        </activity>
        <activity
            android:name="com.example.rehand.WristFlexPage"
            android:label="@string/title_activity_wrist_flex_page" >
        </activity>
        <activity
            android:name="com.example.rehand.WristFlexExercise"
            android:label="@string/title_activity_wrist_flex_exercise" >
        </activity>
        <activity
            android:name="com.example.rehand.WristFlexTutorialPage"
            android:label="@string/title_activity_wrist_flex_tutorial_page"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.rehand.WristFlexResult"
            android:label="@string/title_activity_wrist_flex_result" >
        </activity>
        <activity
            android:name="com.example.rehand.ElbowExtensionProgressDetailPage"
            android:label="@string/title_activity_elbow_extention_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerLiftProgressDetailPage"
            android:label="@string/title_activity_finger_lift_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ArmRotationProgressDetailPage"
            android:label="@string/title_activity_arm_rotation_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.FingerGripProgressDetailPage"
            android:label="@string/title_activity_finger_grip_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.RadialDeviationProgressDetailPage"
            android:label="@string/title_activity_radial_deviation_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.ThumbStretchProgressDetailPage"
            android:label="@string/title_activity_thumb_stretch_progress_detail_page" >
        </activity>
        <activity
            android:name="com.example.rehand.WristFlexProgressDetailPage"
            android:label="@string/title_activity_wrist_flex_progress_detail_page" >
        </activity>
    </application>

</manifest>
